@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 61%, rgba(65,0,120,1) 100%);
}

main{
    display: inline-block;
    width:770px;
    margin: 50px 20px 20px 20px;
}
.warp{
    display: inline-block;
}
.p-button{
    margin-top: 80px;
    position: absolute;
    margin-left: 40px;
    margin-top: 200px;
}
h1{
    color: #5c159d;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 90px;
}
.text-center{
    display: flex;
    justify-content: center;
    font-size: 55px;
}
p{
    color: #9c4be7;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 35px;
}
a{
    text-decoration: none;
    cursor:pointer;
    color:#9c4be7 ;
    font-size:35px ;
}
a:hover{
color: #b478ed;
}
a:active{
    color: #8f35e3  ;
}
section{
    width: 400px;
    height: 500px;
    padding:10px ;
    margin: 50px 0 500px -380px;
    background-color: #fff;
    align-items: center;
    justify-content:center;
    text-align: center;
    border: none;
    border-radius: 10px;
}
.responsividae{
    position:absolute;
    right: -380px;
    
}
button{
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #8B008B;
    font-size: 35px;
}